:root {
    --y: #FFFF00; /* Yellow */
    --b: #010536; /* Dark Blue */
    --w: #FBFBF8; /* Off White */
    --bl: black;  /* Black */
}

.lectures {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    background-color: var(--w);
    color: var(--b);
}

.lecture-list {
    padding: 20px;
    background-color: var(--w);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lecture-list h3 {
    margin-bottom: 15px;
}

.lecture-list ul {
    list-style: none;
    padding-left: 0;
}

.lecture-list li {
    margin-bottom: 20px;
}

.upload-lecture {
    padding: 20px;
    background-color: var(--w);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-lecture h3 {
    margin-bottom: 15px;
}

.upload-lecture form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.upload-lecture label {
    font-weight: bold;
}

.upload-lecture input,
.upload-lecture textarea {
    padding: 10px;
    border: 1px solid var(--b);
    border-radius: 5px;
}

.upload-lecture input[type="file"] {
    padding: 5px;
}

.upload-lecture button {
    padding: 10px;
    background-color: var(--b);
    color: var(--w);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-lecture button:hover {
    background-color: var(--y);
    color: var(--bl);
}

.upload-status {
    margin-top: 10px;
    font-size: 14px;
    color: var(--bl);
}