footer {
    background-color: var(--b);
    color: var(--w);
    padding: 20px;
    text-align: center;
    margin-top: 18vh;
    box-sizing: border-box;
}

footer .footer-content p {
    margin: 0;
}