:root {
    --y: #FFFF00;
    /* Yellow */
    --b: #010536;
    /* Dark Blue */
    --w: #FBFBF8;
    /* Off White */
    --bl: black;
    /* Black */
}

.lectures {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    background-color: var(--w);
    /* Off White background */
    color: var(--b);
    /* Dark Blue text color */
}

.lecture-list {
    padding: 20px;
    background-color: var(--w);
    /* Off White */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--b);
    /* Dark Blue text */
}

.lecture-list h3 {
    margin-bottom: 15px;
    color: var(--b);
    /* Dark Blue */
}

.lecture-list ul {
    list-style: none;
    padding-left: 0;
}

.lecture-list li {
    margin-bottom: 20px;
}

.lecture-list video {
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.upload-lecture {
    padding: 20px;
    background-color: var(--w);
    /* Off White */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-lecture h3 {
    margin-bottom: 15px;
    color: var(--b);
    /* Dark Blue */
}

.upload-lecture form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.upload-lecture label {
    font-weight: bold;
    color: var(--b);
    /* Dark Blue */
}

.upload-lecture input,
.upload-lecture textarea {
    padding: 10px;
    border: 1px solid var(--b);
    /* Dark Blue borders */
    border-radius: 5px;
}

.upload-lecture input[type="file"] {
    padding: 5px;
}

.upload-lecture button {
    padding: 10px;
    background-color: var(--b);
    /* Yellow */
    color: var(--w);
    /* Black text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-lecture button:hover {
    background-color: var(--y);
    /* Dark Blue on hover */
    color: var(--bl);
    /* Off White text on hover */
}

.upload-status {
    margin-top: 10px;
    font-size: 14px;
    color: var(--bl);
    /* Black text for status */
}