:root {
    --y: #FFFF00;
    --b: #010536;
    --w: #FBFBF8;
    --bl: black;
}

.post-card {
    background: var(--w);
    border: 2px solid var(--b);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--b);
    color: var(--y);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid var(--y);
}

.username {
    font-weight: bold;
}

.post-image {
    width: 100%;
    height: auto;
}

.post-actions {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: var(--b);
}

.like-button,
.comment-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--y);
}

.like-button:hover,
.comment-button:hover {
    color: var(--w);
}

.post-details {
    padding: 10px;
    background-color: var(--w);
    color: var(--b);
}

.likes-count {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-caption {
    line-height: 1.5;
}

.post-video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.post-text {
    font-size: 1.2em;
    padding: 10px;
    background-color: var(--w);
    color: var(--b);
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
}